.employee-name
  white-space nowrap

.capitalize
  text-transform capitalize

ul:not(.v-pagination)
  padding 0
  list-style: none

  li
    padding-left 15px
    background: radial-gradient(circle, white 49%, transparent 51%)
    background-size 10px 10px
    background-repeat no-repeat
    background-position center left
